// Cores

$primary: #198754;
$primary-light: #20c997;

$purple: #6f42c1;
$purple-light: #9b6dff;

$white: #fff;

$text: #212529;
$text-dark: #343a40;
$text-light: #6c757d;

$card-icon-bg: #eef8f2;

$background-hover: #f8f9fa;

$border-color: #ececec;
$border-light: #f1f1f1;


// Bordas

$radius-sm: 10px;
$radius-md: 15px;
$radius-lg: 18px;
$radius-circle: 50%;


// Sombras

$shadow-sm: 0 4px 5px rgba(0,0,0,.2);
$shadow-md: 0 10px 25px rgba(0,0,0,.08);
$shadow-lg: 0 12px 30px rgba(0,0,0,.08);
$shadow-hover: 0 18px 40px rgba(0,0,0,.15);


// Espaçamentos

$spacing-sm: 1rem;
$spacing-md: 1.4rem;
$spacing-lg: 1.8rem;
$spacing-xl: 2rem;


// Transições

$transition: .3s ease;