// Cores

$white: #fff;


// Bordas

$radius-lg: 18px;
$radius-circle: 50%;


// Sombras

$shadow-md: 0 10px 25px rgba(0,0,0,.08);
$shadow-hover: 0 18px 40px rgba(0,0,0,.15);


// Transições

$transition: .3s ease;